n8n/01_get-drivers-routes.json
{
  "name": "01 - Driver Tracker | שליפת נהגים ומסלולים",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "get-data",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook GET /get-data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "get-data-001"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// בדיקת מפתח API\n// ============================================================\nconst apiKey = $input.first().json.headers['x-api-key'];\nconst SECRET_KEY = 'YOUR_SECRET_API_KEY'; // <-- שנה למפתח שלך\n\nif (apiKey !== SECRET_KEY) {\n  return [{\n    json: {\n      __statusCode: 401,\n      error: 'Unauthorized'\n    }\n  }];\n}\n\n// ============================================================\n// רשימת נהגים — ערוך לפי הצורך\n// ============================================================\nconst drivers = [\n  'ישראל ישראלי',\n  'אבי כהן',\n  'מרים לוי',\n  'דוד דהן',\n  'רחל גולן'\n];\n\n// ============================================================\n// מסלולים ותחנות\n// כל תחנה: { name, lat, lon }\n// lat/lon אופציונלי — אם תמלא, האפליקציה תזהה תחנות אוטומטית\n// ============================================================\nconst routes = {\n  'מסלול צפון — בוקר': [\n    { name: 'תחנה מרכזית',   lat: 32.0853, lon: 34.7818 },\n    { name: 'רחוב הרצל 5',  lat: 32.0900, lon: 34.7850 },\n    { name: 'בית ספר א\\'',  lat: 32.0950, lon: 34.7900 },\n    { name: 'פארק העיר',    lat: 32.1000, lon: 34.7950 },\n    { name: 'קצה המסלול',   lat: 32.1050, lon: 34.8000 }\n  ],\n  'מסלול דרום — צהריים': [\n    { name: 'תחנה מרכזית',  lat: 32.0853, lon: 34.7818 },\n    { name: 'שוק הכרמל',   lat: 32.0800, lon: 34.7770 },\n    { name: 'גן ילדים ב\\'', lat: 32.0750, lon: 34.7720 },\n    { name: 'מרכז קהילתי', lat: 32.0700, lon: 34.7680 }\n  ],\n  'מסלול מזרח — ערב': [\n    { name: 'תחנה מרכזית', lat: 32.0853, lon: 34.7818 },\n    { name: 'בית חולים',   lat: 32.0870, lon: 34.7900 },\n    { name: 'אוניברסיטה',  lat: 32.0890, lon: 34.8000 },\n    { name: 'תחנת רכבת',  lat: 32.0910, lon: 34.8100 }\n  ]\n};\n\nreturn [{ json: { drivers, routes } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "בנה תגובה עם נהגים ומסלולים",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "החזר JSON לאפליקציה",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook GET /get-data": {
      "main": [
        [
          {
            "node": "בנה תגובה עם נהגים ומסלולים",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "בנה תגובה עם נהגים ומסלולים": {
      "main": [
        [
          {
            "node": "החזר JSON לאפליקציה",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "driver-tracker"
  }
}
