n8n/driver-tracker-workflows.json
[
  {
    "name": "01 - Driver Tracker | שליפת נהגים ומסלולים",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "get-data",
          "responseMode": "responseNode",
          "options": { "allowedOrigins": "*" }
        },
        "id": "wf1-n01",
        "name": "Webhook GET /get-data",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [240, 300],
        "webhookId": "get-data-webhook-v1"
      },
      {
        "parameters": {
          "operation": "getAllRows",
          "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
          "sheetName": { "__rl": true, "value": "נהגים", "mode": "name" },
          "options": {}
        },
        "id": "wf1-n02",
        "name": "קרא נהגים",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [460, 200],
        "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_CRED_ID", "name": "Google Sheets Account" } }
      },
      {
        "parameters": {
          "operation": "getAllRows",
          "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
          "sheetName": { "__rl": true, "value": "תחנות", "mode": "name" },
          "options": {}
        },
        "id": "wf1-n03",
        "name": "קרא תחנות",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [460, 400],
        "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_CRED_ID", "name": "Google Sheets Account" } }
      },
      {
        "parameters": {
          "mode": "combine",
          "combinationMode": "mergeByPosition",
          "options": {}
        },
        "id": "wf1-n04",
        "name": "מזג נתונים",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [680, 300]
      },
      {
        "parameters": {
          "jsCode": "const API_KEY = 'YOUR_SECRET_API_KEY';\n\nconst webhookData = $('Webhook GET /get-data').first().json;\nconst incomingKey = webhookData?.headers?.['x-api-key'] || '';\nif (incomingKey !== API_KEY) {\n  return [{ json: { __unauthorized: true } }];\n}\n\nconst drivers = $('קרא נהגים').all()\n  .map(r => r.json['שם_נהג'])\n  .filter(Boolean);\n\nconst stationRows = $('קרא תחנות').all();\nconst routes = {};\nfor (const row of stationRows) {\n  const r = row.json;\n  const routeName = r['מסלול'];\n  if (!routeName) continue;\n  if (!routes[routeName]) routes[routeName] = [];\n  routes[routeName].push({\n    name: r['שם_תחנה'] || '',\n    lat:  r['lat']  ? Number(r['lat'])  : undefined,\n    lon:  r['lon']  ? Number(r['lon'])  : undefined,\n    סוג:  r['סוג'] || 'צומת',\n    סדר:  Number(r['סדר'] || 0)\n  });\n}\nfor (const key of Object.keys(routes)) {\n  routes[key].sort((a, b) => a.סדר - b.סדר);\n}\n\nreturn [{ json: { drivers, routes } }];"
        },
        "id": "wf1-n05",
        "name": "בנה תגובת JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [900, 300]
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [{ "id": "auth-check", "leftValue": "={{ $json.__unauthorized }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
            "combinator": "and"
          }
        },
        "id": "wf1-n06",
        "name": "מורשה?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [1120, 300]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"error\":\"Unauthorized\"}",
          "options": { "responseCode": 401 }
        },
        "id": "wf1-n07",
        "name": "401 Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1340, 200]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                { "name": "Content-Type", "value": "application/json" },
                { "name": "Access-Control-Allow-Origin", "value": "*" }
              ]
            }
          }
        },
        "id": "wf1-n08",
        "name": "השב לאפליקציה",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1340, 400]
      }
    ],
    "connections": {
      "Webhook GET /get-data": { "main": [[{ "node": "קרא נהגים", "type": "main", "index": 0 }, { "node": "קרא תחנות", "type": "main", "index": 0 }]] },
      "קרא נהגים":      { "main": [[{ "node": "מזג נתונים", "type": "main", "index": 0 }]] },
      "קרא תחנות":      { "main": [[{ "node": "מזג נתונים", "type": "main", "index": 1 }]] },
      "מזג נתונים":     { "main": [[{ "node": "בנה תגובת JSON", "type": "main", "index": 0 }]] },
      "בנה תגובת JSON": { "main": [[{ "node": "מורשה?", "type": "main", "index": 0 }]] },
      "מורשה?": { "main": [[{ "node": "401 Unauthorized", "type": "main", "index": 0 }], [{ "node": "השב לאפליקציה", "type": "main", "index": 0 }]] }
    },
    "active": false,
    "settings": { "executionOrder": "v1" },
    "meta": { "instanceId": "driver-tracker" }
  },

  {
    "name": "02 - Driver Tracker | מעקב מיקום + לוגיקת הכרזות",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "track",
          "responseMode": "responseNode",
          "options": { "allowedOrigins": "*" }
        },
        "id": "wf2-n01",
        "name": "Webhook POST /track",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [240, 400],
        "webhookId": "track-webhook-v1"
      },
      {
        "parameters": {
          "operation": "getAllRows",
          "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
          "sheetName": { "__rl": true, "value": "תחנות", "mode": "name" },
          "options": {}
        },
        "id": "wf2-n02",
        "name": "קרא תחנות",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [460, 200],
        "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_CRED_ID", "name": "Google Sheets Account" } }
      },
      {
        "parameters": {
          "operation": "getAllRows",
          "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
          "sheetName": { "__rl": true, "value": "מצב_נהגים", "mode": "name" },
          "options": {}
        },
        "id": "wf2-n03",
        "name": "קרא מצב נהג",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [460, 400],
        "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_CRED_ID", "name": "Google Sheets Account" } }
      },
      {
        "parameters": {
          "url": "https://nominatim.openstreetmap.org/reverse",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              { "name": "lat",             "value": "={{ $('Webhook POST /track').first().json.body.lat }}" },
              { "name": "lon",             "value": "={{ $('Webhook POST /track').first().json.body.lon }}" },
              { "name": "format",          "value": "json" },
              { "name": "accept-language", "value": "he" },
              { "name": "zoom",            "value": "17" }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              { "name": "User-Agent", "value": "DriverTrackerApp/1.0 contact@yourdomain.com" }
            ]
          },
          "options": {}
        },
        "id": "wf2-n05",
        "name": "Nominatim — מיקום נוכחי",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [460, 800]
      },
      {
        "parameters": {
          "mode": "combine",
          "combinationMode": "mergeByPosition",
          "options": {}
        },
        "id": "wf2-n06",
        "name": "מזג כל הנתונים",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [720, 400]
      },
      {
        "parameters": {
          "jsCode": "// ============================================================\n// לוגיקה ראשית — זיהוי עיר לפי Nominatim + הכרזות\n// ============================================================\n// זיהוי עיר: Nominatim מחזיר address.city בכל פינג.\n// משווים לשם העיר שהוגדר במסלול — אמין לכל נתיב יציאה!\n// ============================================================\n\nconst API_KEY = 'YOUR_SECRET_API_KEY';\nconst CITY_INTERVAL_MIN  = 3;\nconst AUTO_TERMINATE_MIN = 30;\nconst STATION_RADIUS_M   = 150;\n\n// --- בדיקת מפתח ---\nconst wb  = $('Webhook POST /track').first().json;\nconst key = wb?.headers?.['x-api-key'] || '';\nif (key !== API_KEY) return [{ json: { __unauthorized: true } }];\n\nconst body = wb?.body || {};\nconst { driver, route, lat, lon, timestamp, stationIndex } = body;\nif (!driver || !route || lat == null || lon == null) {\n  return [{ json: { __error: 'שדות חסרים' } }];\n}\n\n// --- Haversine ---\nfunction haversine(lat1, lon1, lat2, lon2) {\n  const R = 6371000;\n  const φ1 = lat1*Math.PI/180, φ2 = lat2*Math.PI/180;\n  const Δφ = (lat2-lat1)*Math.PI/180, Δλ = (lon2-lon1)*Math.PI/180;\n  const a = Math.sin(Δφ/2)**2 + Math.cos(φ1)*Math.cos(φ2)*Math.sin(Δλ/2)**2;\n  return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n}\n\n// --- נתוני Nominatim ---\n// Nominatim מחזיר שם עיר + שם רחוב בכל פינג\n// זה מאפשר זיהוי עיר אמין ללא תלות בנתיב הנסיעה\nconst geo         = $('Nominatim — מיקום נוכחי').first().json;\nconst currentRoad = geo?.address?.road || geo?.address?.suburb || geo?.address?.neighbourhood || '';\nconst currentCity = geo?.address?.city || geo?.address?.town   || geo?.address?.village       || '';\n\n// --- זיהוי עיר: האם עברנו תחנת כניסה_עיר? ---\nconst cityEntryIdx = stations.findIndex(s => s['סוג'] === 'כניסה_עיר');\nconst inCity = cityEntryIdx !== -1 && curIdx >= cityEntryIdx;\n\n// --- תחנות המסלול ---\nconst stations = $('קרא תחנות').all()\n  .map(r => r.json)\n  .filter(s => s['מסלול'] === route)\n  .sort((a, b) => Number(a['סדר']) - Number(b['סדר']));\n\n// --- מצב נהג ---\nconst stateRows    = $('קרא מצב נהג').all().map(r => r.json);\nconst driverState  = stateRows\n  .filter(r => r['נהג'] === driver && r['מסלול'] === route)\n  .sort((a, b) => new Date(b['timestamp']) - new Date(a['timestamp']))[0] || null;\n\nconst lastKnownIdx      = driverState ? Number(driverState['תחנה_נוכחית'] ?? -1) : -1;\nconst lastAnnounceISO   = driverState?.['זמן_הכרזה_אחרונה'] || null;\nconst reachedFinalISO   = driverState?.['זמן_תחנה_אחרונה']  || null;\n\n// --- זמן ---\nconst now              = new Date(timestamp);\nconst timeStr          = now.toLocaleTimeString('he-IL', { hour: '2-digit', minute: '2-digit' });\nconst minSinceAnnounce = lastAnnounceISO ? (now - new Date(lastAnnounceISO)) / 60000 : 999;\nconst curIdx           = Number(stationIndex ?? -1);\n\n// --- תחנה חדשה שהגיע אליה? ---\nconst newStationReached = curIdx > lastKnownIdx && curIdx >= 0;\nconst curStation        = newStationReached ? (stations[curIdx] || null) : null;\nconst stationType       = curStation?.['סוג'] || 'צומת';\nconst isLastStation     = curIdx >= stations.length - 1 && stations.length > 0;\n\n// --- בנה הכרזה ---\nlet announcementText  = null;\nlet announcementType  = null;\nlet terminate         = false;\nlet newReachedFinalISO = reachedFinalISO;\nlet newLastAnnounceISO = lastAnnounceISO;\n\nif (isLastStation && newStationReached && !reachedFinalISO) {\n  // ===== תחנה אחרונה =====\n  announcementType   = 'סיום_נסיעה';\n  announcementText   = `השעה ${timeStr}, ההסעה הגיעה לתחנה הסופית ${curStation?.['שם_תחנה'] || ''}. תודה על נסיעה נעימה`;\n  newReachedFinalISO = now.toISOString();\n  newLastAnnounceISO = now.toISOString();\n\n} else if (reachedFinalISO) {\n  // ===== ממתין 30 דקות אחרי תחנה אחרונה =====\n  const minSinceFinal = (now - new Date(reachedFinalISO)) / 60000;\n  if (minSinceFinal >= AUTO_TERMINATE_MIN) terminate = true;\n\n} else if (newStationReached && curStation) {\n  // ===== צומת / כניסה לעיר =====\n  if (stationType === 'כניסה_עיר') {\n    announcementType   = 'כניסה_לעיר';\n    announcementText   = `השעה ${timeStr}, ההסעה מתקרבת לעיר דרך ${curStation['שם_תחנה']}`;\n    newLastAnnounceISO = now.toISOString();\n  } else {\n    announcementType   = 'צומת';\n    announcementText   = `השעה ${timeStr}, ההסעה בקרבת ${curStation['שם_תחנה']}`;\n    newLastAnnounceISO = now.toISOString();\n  }\n\n} else if (inCity && minSinceAnnounce >= CITY_INTERVAL_MIN) {\n  // ===== מצב עיר — כל 3 דקות עם שם רחוב מ-Nominatim =====\n  announcementType   = 'עיר_3_דקות';\n  const streetPart   = currentRoad ? `רחוב ${currentRoad}` : 'אזור העיר';\n  announcementText   = `השעה ${timeStr}, ההסעה נמצאת ב${streetPart}`;\n  newLastAnnounceISO = now.toISOString();\n}\n\nconst shouldLog         = announcementText !== null;\nconst shouldUpdateState = newStationReached || shouldLog || terminate;\n\nreturn [{\n  json: {\n    driver, route, lat, lon, timestamp,\n    stationIndex: curIdx,\n    stationName:  curStation?.['שם_תחנה'] || null,\n    announcementType,\n    announcementText,\n    terminate,\n    inCity,\n    currentCity,\n    currentRoad,\n    newReachedFinalISO,\n    newLastAnnounceISO,\n    timeStr,\n    shouldLog,\n    shouldUpdateState,\n    __unauthorized: false\n  }\n}];"
        },
        "id": "wf2-n07",
        "name": "לוגיקה ראשית",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [960, 400]
      },
      {
        "parameters": {
          "conditions": {
            "options": { "caseSensitive": true, "typeValidation": "strict" },
            "conditions": [{ "id": "log-check", "leftValue": "={{ $json.shouldLog }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equal" } }],
            "combinator": "and"
          }
        },
        "id": "wf2-n08",
        "name": "IF: יש הכרזה לרשום?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [1200, 400]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
          "sheetName": { "__rl": true, "value": "יומן_אירועים", "mode": "name" },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "timestamp":    "={{ $json.timestamp }}",
              "נהג":          "={{ $json.driver }}",
              "מסלול":        "={{ $json.route }}",
              "סוג_אירוע":    "={{ $json.announcementType }}",
              "שם_תחנה":      "={{ $json.stationName }}",
              "טקסט_הכרזה":   "={{ $json.announcementText }}",
              "lat":          "={{ $json.lat }}",
              "lon":          "={{ $json.lon }}"
            }
          },
          "options": {}
        },
        "id": "wf2-n09",
        "name": "שמור ביומן",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [1440, 240],
        "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_CRED_ID", "name": "Google Sheets Account" } }
      },
      {
        "parameters": {
          "assignments": { "assignments": [] },
          "options": {}
        },
        "id": "wf2-n10",
        "name": "אין הכרזה — המשך",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [1440, 560]
      },
      {
        "parameters": {
          "mode": "chooseBranch",
          "output": "input1",
          "options": {}
        },
        "id": "wf2-n11",
        "name": "מזג לפני עדכון מצב",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [1680, 400]
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": { "__rl": true, "value": "YOUR_GOOGLE_SHEET_ID", "mode": "id" },
          "sheetName": { "__rl": true, "value": "מצב_נהגים", "mode": "name" },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "נהג":                 "={{ $('לוגיקה ראשית').first().json.driver }}",
              "מסלול":               "={{ $('לוגיקה ראשית').first().json.route }}",
              "תחנה_נוכחית":         "={{ $('לוגיקה ראשית').first().json.stationIndex }}",
              "בעיר":                "={{ $('לוגיקה ראשית').first().json.inCity ? 'TRUE' : 'FALSE' }}",
              "זמן_הכרזה_אחרונה":    "={{ $('לוגיקה ראשית').first().json.newLastAnnounceISO || '' }}",
              "זמן_תחנה_אחרונה":     "={{ $('לוגיקה ראשית').first().json.newReachedFinalISO || '' }}",
              "timestamp":           "={{ $('לוגיקה ראשית').first().json.timestamp }}"
            }
          },
          "options": {}
        },
        "id": "wf2-n12",
        "name": "עדכן מצב נהג",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [1920, 400],
        "credentials": { "googleSheetsOAuth2Api": { "id": "GOOGLE_CRED_ID", "name": "Google Sheets Account" } }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ ok: true, terminate: $('לוגיקה ראשית').first().json.terminate, reason: $('לוגיקה ראשית').first().json.terminate ? 'הגיע לתחנה הסופית' : null, announcement: $('לוגיקה ראשית').first().json.announcementText, inCity: $('לוגיקה ראשית').first().json.inCity }) }}",
          "options": {
            "responseHeaders": {
              "entries": [
                { "name": "Content-Type",               "value": "application/json" },
                { "name": "Access-Control-Allow-Origin", "value": "*" }
              ]
            }
          }
        },
        "id": "wf2-n13",
        "name": "השב לאפליקציה",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [2160, 400]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\"error\":\"Unauthorized\"}",
          "options": { "responseCode": 401 }
        },
        "id": "wf2-n14",
        "name": "401 Unauthorized",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [960, 640]
      }
    ],
    "connections": {
      "Webhook POST /track": {
        "main": [[
          { "node": "קרא תחנות",              "type": "main", "index": 0 },
          { "node": "קרא מצב נהג",             "type": "main", "index": 0 },
          { "node": "Nominatim — מיקום נוכחי", "type": "main", "index": 0 }
        ]]
      },
      "קרא תחנות":              { "main": [[{ "node": "מזג כל הנתונים", "type": "main", "index": 0 }]] },
      "קרא מצב נהג":            { "main": [[{ "node": "מזג כל הנתונים", "type": "main", "index": 1 }]] },
      "Nominatim — מיקום נוכחי":{ "main": [[{ "node": "מזג כל הנתונים", "type": "main", "index": 2 }]] },
      "מזג כל הנתונים":         { "main": [[{ "node": "לוגיקה ראשית",   "type": "main", "index": 0 }]] },
      "לוגיקה ראשית": {
        "main": [[
          { "node": "IF: יש הכרזה לרשום?", "type": "main", "index": 0 },
          { "node": "401 Unauthorized",      "type": "main", "index": 0 }
        ]]
      },
      "IF: יש הכרזה לרשום?": {
        "main": [
          [{ "node": "שמור ביומן",        "type": "main", "index": 0 }],
          [{ "node": "אין הכרזה — המשך", "type": "main", "index": 0 }]
        ]
      },
      "שמור ביומן":         { "main": [[{ "node": "מזג לפני עדכון מצב", "type": "main", "index": 0 }]] },
      "אין הכרזה — המשך":   { "main": [[{ "node": "מזג לפני עדכון מצב", "type": "main", "index": 1 }]] },
      "מזג לפני עדכון מצב": { "main": [[{ "node": "עדכן מצב נהג",        "type": "main", "index": 0 }]] },
      "עדכן מצב נהג":       { "main": [[{ "node": "השב לאפליקציה",       "type": "main", "index": 0 }]] }
    },
    "active": false,
    "settings": { "executionOrder": "v1" },
    "meta": { "instanceId": "driver-tracker" }
  }
]
